li{
	margin-bottom: 10px;
}

ul{
	margin: 0;
	padding: 0;
	margin-right: -10px;
}

.btn.cat0{

	background-color: #f8f402;
}
.btn.cat1{
	background-color: #02a43b;
}
.btn.cat2{
	background-color: #de172d;
}
.btn.cat3{
	background-color: #eca122;
}
.btn.cat4{
	background-color: #a84f94;
}